@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .orb {
    @apply relative bg-blue-500 w-24 h-24 rounded-full shadow-md overflow-hidden;
  }

  .shine {
    @apply absolute w-1/2 h-1/2 bg-white opacity-25 rounded-full;
    top: 10%;
    left: 25%;
    transform: rotate(45deg);
  }
}

:root {
  --background: #cfc0b4;
  --cell-a: #0ae4eb;
  --light-cell-a: #d8fdfd;
  --cell-b: #f89225;
  --light-cell-b: #fdecd8;
  --cell-empty: #ffffff;
  --secondary: #613a3a;
  --other: #1d3523;
  --other-light: #d7eada;
}

body {
  color: black;
  background: var(--background);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.5, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.5) translateY(-1px);
  }
  50% {
    transform: scale(1.05, 0.5) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-1px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.animate-bounce {
  animation: bounce 0.3s linear;
}

@keyframes pop {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  60% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.animate-pop {
  -webkit-animation: pop 0.2s;
  animation: pop 0.2s;
}
